/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    margin: 2em 1em;
    line-height: 1.5em;
  }

  h1 {
    font-style: italic;
    color: #373fff;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
  }

  form {
    background-color: #eee;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 40ch;
  }

  input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }

  form button {
    background-color: #bbbbf2;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
  }

  form button:hover {
    background-color: lavender;
  }

  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }






  html {
      position: relative;
      min-height: 100%;
    }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-weight: 400;
  flex-direction: column;
  position: relative;
  font-family: Hack, monospace;


      div {
          margin: 20px;
      }
  }

  audio {
      position: fixed;
      top: 50px;
      display: none;
  }

  .btn-1 {
      position: relative;
      z-index: 100;
      font-family: Hack, monospace;
      background: #0F0F6D;
      color: #ffffff;
      cursor: pointer;
      font-size: 2em;
      padding: 1.5rem;
      border: 0;
      transition: all 0.5s;
      border-radius: 10px;
      width: auto;


      &::after {
          content: "\f054";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          position: absolute;
          left: 85%;
          top: 31%;
          right: 5%;
          bottom: 0;
          opacity: 0;

      }

      &:hover {
          background: #2b2bff;
          transition: all 0.5s;
          border-radius: 10px;
          box-shadow: 0px 6px 15px #0000ff61;
          padding: 1.5rem 3.5rem 1.5rem 1.5rem;

          &::after {
              opacity: 1;
              transition: all 0.5s;

          }
      }


  }